<div id="serverSelect">
	<div class="card row py-auto d-none" id="addit">
		<h2 class="card-title">
			You don't have the bot in any servers where you can manage it.
		</h2>
		<a target="_blank" class="btn btn-primary ml-auto" href="https://discord.com/oauth2/authorize?client_id=514110074931642376&permissions=322624&scope=bot"><i class="far fa-plus-square"></i> Add!</a>
	</div>
	<div class="progress">
		<div class="progress-bar" id="initLoadProgress"></div>
	  </div>
	<div class="d-flex align-content-start" id="guilds">
		<template id="server-template">
			<a class="card shadow flex-row border" href="#" onClick="setDashboard(this)" guild={{id}}>
				<h5 class="card-title">{{name}}</h5>
			</a>
		</template>
	</div>
</div>

<div id="dashboard" class="d-none content">
	<form id="dashboardform" class="form">
		<h1>Logs</h1>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">Edits channel</span>
			</div>
			<select name="editchannel" class="form-control channelSelect"></select>
		</div>
		<button class="btn btn-primary">Enter</button>
	</form>
</div>
<script src="dashboard.js"></script>